{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Add New Address</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">My Account</a></li>
        <li class="breadcrumb-item active text-dark">Add Address</li>
    </ol>
</div>
<!-- Single Page Header End -->
{% for message in messages %}  

      <div class="alert alert-{{message.tags}}" role="alert" style="margin-top: 30px">
        <h5>{{message}}</h5>
      </div>
        
      {% endfor %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="address-section">
                <h2>Add New Address</h2>
                <form method="POST" action="{% url 'add_address_action' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Add Address</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
