{% extends 'admin/base.html' %}
{% block content %}


        {% for message in messages %}  

      <div class="alert alert-{{message.tags}}" role="alert" style="margin-top: 30px">
        <h5>{{message}}</h5>
      </div>
        
      {% endfor %}

<h2>Products</h2>
<a href="{% url 'myadmin:product_create' %}" class="btn btn-primary mb-3">Add Product</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Image</th>
            <th>Price</th>
            <th>Offer Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ product.category.brand_name }}</td>
            <td>
                <img src="{{ product.images.url }}" class="img-fluid w-75 rounded-top" alt="" style="height: 100px;">
            </td>
            <td>{{ product.price }}</td>
            <td>{{ product.offer_price }}</td>
            <td>{{ product.stock }}</td>
            <td>
                <a href="{% url 'myadmin:product_update' product.pk %}" class="btn btn-sm btn-warning">Edit</a>
                {% if not product.is_delete %}
                <a href="{% url 'myadmin:product_delete' product.pk %}" class="btn btn-sm btn-danger">Delete</a>
                {% else %}
                <a href="#" class="btn btn-sm btn-warning">soft-deleted</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
