{% load static %}
<!-- header section strats -->
        <!-- Navbar start -->
        <div class="container-fluid fixed-top" style="background-color: #453453;">
          <div class="container topbar d-none d-lg-block" style="background-color: hsl(271, 52%, 56%);">
              <div class="d-flex justify-content-between">
                  <div class="top-info ps-2">
                      <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">123 Street, New York</a></small>
                      <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">visionvogoue@gmail.com</a></small>
                  </div>
                  <div class="top-link pe-2">
                      <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                      <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
                      <a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
                  </div>
              </div>
          </div>
          <div class="container px-0">
              <nav class="navbar navbar-light  navbar-expand-xl" style="background-color: #453453;">
                  <a href="{% url 'home' %}" class="navbar-brand"><h1 class="text-light display-6">VisionVogue</h1></a>
                  <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                      <span class="fa fa-bars text-primary"></span>
                  </button>
                  <div class="collapse navbar-collapse " id="navbarCollapse" style="background-color: hsl(272, 18%, 28%);">
                      <div class="navbar-nav mx-auto">
                          <a href="{% url 'home' %}" class="nav-item nav-link active text-light">Home</a>
                          <a href="#about-section" class="nav-item nav-link text-light">About</a>
                          <a href="{% url 'store:store' %}" class="nav-item nav-link text-light">Store</a>
                          <div class="nav-item dropdown">
                              <a href="#" class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown">All Brands</a>
                              <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                <a href="{% url 'store:store' %}" class="dropdown-item">All the product</a>
                                {% for category in links %}
                                    {% if category.is_delete %}
                                    {% else %}
                                  <a href="{{ category.get_url }}" class="dropdown-item">{{ category.brand_name }}</a>
                                  {% endif %}
                                {% endfor %}
                              </div>
                          </div>
                          <a href="{% url 'contact' %}" class="nav-item nav-link text-light">Contact</a>
                      </div>
                      <div class="d-flex m-3 me-0">
                        <!-- <form id="searchForm" class="d-flex align-items-center" action="{% url 'store:search' %}" method="GET">
                            <div class="input-group w-100 mx-auto d-flex">
                                <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="keyword">
                                <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                            </div>
                        </form> -->
                        <a href="{% url 'cart:cart' %}" class="position-relative me-4 my-auto">
                            <i class="fa fa-shopping-bag fa-2x" style="color: #ffffff"></i>
                            <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px; color:#ffffff">{{cart_count}}</span>
                        </a>
                        <a href="{% url 'store:wishlist' %}" class="position-relative me-4 my-auto">
                            <!-- <i class='fas fa-heart fa-2x' style='color:#ffffff'></i>          -->
                             <i class="bi-heart-fill  text-white" style="font-size: 1.7em;"></i>

                        </a>  
                            {% if user.is_authenticated %}
                            <a href="{% url 'my_account' %}">
                                <i class="fas fa-user fa-2x" style="color: #ffffff"></i>
                            </a>
                            {% else %}
                          <a href="{% url 'login' %}" class="my-auto">
                              <i class="fas fa-user fa-2x" style="color: #ffffff"></i>
                          </a>
                          {% endif %}
                      </div>
                  </div>
              </nav>
          </div>
      </div>
      <!-- Navbar End -->
  <!-- end header section -->